<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="row">
  <div class="col-sm-6 col-md-4 col-lg-3" th:each="product : ${products}">
    <div class="card">
<!--      <img th:src="@{/img/products/} + ${product.image}" class="card-img-top" alt="product image">-->
      <div class="card-body">
        <h5 class="card-title" th:text="${product.productName}"></h5>
        <p class="card-text" th:text="${product.productCategory}"></p>
        <p class="card-text">
          <small class="text-muted">$<span th:text="${product.productPrice}"></span></small>
        </p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>